# Limpeza dos Datasets sobre Vacinação

Nesse notebook realizaremos a limpeza dos datasets originais obtidos no site do DATASUS.

<div class="alert alert-success">
    <strong><a href="https://github.com/diascarolina/vacinacao-geral-no-brasil/blob/main/notebooks/vacinacao_geral_no_brasil.ipynb">Parte 1: Vacinação Geral no Brasil</a></strong>
</div>

<div class="alert alert-success">
    <strong><a href='https://github.com/diascarolina/vacinacao-geral-no-brasil/blob/main/notebooks/sarampo.ipynb'>Parte 2: Surto de Sarampo no Brasil em 2014</a></strong>
</div>

<div class="alert alert-success">
    <strong><a href='https://carodias.medium.com/vacina%C3%A7%C3%A3o-no-brasil-o-que-aprendemos-com-o-surto-de-sarampo-em-2014-56d8518c3ef0'>Análise Completa no Medium</a></strong>
</div>

<div class="alert alert-success">
    <strong><a href='https://github.com/diascarolina/vacinacao-geral-no-brasil/tree/main/dados'>Pasta onde os dados brutos estão armazenados.</a></strong>
</div>

# Importação das Bibliotecas

In [1]:
import pandas as pd

# Dataset 1: Tipo de Vacina por Região

Esse dataset contém informações sobre todos os imunizantes na base de dados e os valores absolutos de doses aplicadas no período de 1994 a 2019, separado por regiões do Brasil e com o total de todas elas.

In [2]:
# importar o dataset
tipo_regiao_raw = pd.read_csv('../dados/raw/tipo_vacina_por_regiao_1994_2019.csv',
                                sep = ';',
                                encoding = 'ISO-8859-1',
                                skiprows = 3,
                                skipfooter = 20,
                                thousands = '.',
                                decimal = ',',
                                engine = 'python')

In [3]:
# observar as 5 primeiras linhas
tipo_regiao_raw.head()

,Imuno,1 Região Norte,2 Região Nordeste,3 Região Sudeste,4 Região Sul,5 Região Centro-Oeste,Total
0,072 BCG,8934021,25716922,30399265,10320185,6313847,81684240
1,099 Hepatite B em crianças até 30 dias,1483708,3962859,5634362,1747004,1240004,14067937
2,061 Rotavírus Humano,3057558,9398436,13678966,4524124,2732897,33391981
3,053 Meningococo C,2247567,6782535,10032410,3310188,2018426,24391126
4,073 Hepatite B,6211709,17317816,23733605,8632675,4667998,60563803

In [4]:
# cria uma cópia do dataframe original
tipo_regiao = tipo_regiao_raw.copy()

# remove os 3 números do nome do imunizante
tipo_regiao['Imuno'] = tipo_regiao['Imuno'].str[4:]

# renomeia a coluna
tipo_regiao.columns = ['Imuno', 'Norte', 'Nordeste', 'Sudeste', 'Sul', 'Centro-Oeste', 'Total']

# informações sobre as colunas
tipo_regiao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Imuno         25 non-null     object
 1   Norte         25 non-null     int64
 2   Nordeste      25 non-null     int64
 3   Sudeste       25 non-null     int64
 4   Sul           25 non-null     int64
 5   Centro-Oeste  25 non-null     int64
 6   Total         25 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.5+ KB

Observamos que não há nenhum dado nulo e que os tipos das colunas estão como numérico para as que precisam. Salvamos esse novo dataframe.

In [5]:
# salvar em um novo csv
tipo_regiao.to_csv('../dados/clean/tipo_regiao.csv', index = False, encoding = 'ISO-8859-1')

# Dataset 2: Cobertura Vacinal por Região do Brasil, de 1994 a 2019

Esse dataset contém informações sobre a cobertura vacinal total período de 1994 a 2019, separado por regiões do Brasil e com a média total de todas elas.

In [6]:
# importa o dataset
cv_reg_raw = pd.read_csv('../dados/raw/coberturas_vacinais_regiao_1994_2019.csv',
                            sep = ';',
                            encoding = 'ISO-8859-1',
                            skiprows = 3,
                            skipfooter = 20,
                            thousands = '.',
                            decimal = ',',
                            engine = 'python')

In [7]:
# observa as 5 primeiras linhas
cv_reg_raw.head()

,Ano,1 Região Norte,2 Região Nordeste,3 Região Sudeste,4 Região Sul,5 Região Centro-Oeste,Total
0,1994,31.03,40.52,55.22,51.60,25.84,38.27
1,1995,41.67,43.78,46.43,51.24,45.10,45.70
2,1996,55.20,50.91,44.66,53.84,52.54,50.00
3,1997,68.57,65.71,70.58,71.50,69.92,68.95
4,1998,73.28,66.45,74.42,65.09,76.53,70.65

In [8]:
# cópia do dataframe original
cv_reg = cv_reg_raw.copy()

In [9]:
# coloca o Ano como indíce
cv_reg = cv_reg.set_index('Ano').rename_axis(None)

In [10]:
# renomeia as colunas
cv_reg.columns = ['Norte', 'Nordeste', 'Sudeste', 'Sul', 'Centro-Oeste', 'Total']

In [11]:
# confere o dataframe
cv_reg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 1994 to 2019
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Norte         26 non-null     float64
 1   Nordeste      26 non-null     float64
 2   Sudeste       26 non-null     float64
 3   Sul           26 non-null     float64
 4   Centro-Oeste  26 non-null     float64
 5   Total         26 non-null     float64
dtypes: float64(6)
memory usage: 1.4 KB

Observamos que não há nenhum dado nulo e que os tipos das colunas estão como numérico para as que precisam. Salvamos esse novo dataframe.

In [12]:
cv_reg.to_csv('../dados/clean/cv_reg.csv')

# Dataset 3: Cobertura Vacinal por Tipo de Imunizante e por Região do Brasil, de 1994 a 2019

Esse dataset contém informações sobre todos os imunizantes na base de dados e a cobertura vacinal de cada um deles no período de 1994 a 2019, separado por regiões do Brasil e com o total de todas elas.

In [13]:
# importação do dataset e substituição dos valores nulos por 0
cv_reg_ano_raw = pd.read_csv('../dados/raw/coberturas_vacinais_1994_2019.csv',
                            sep = ';',
                            encoding = 'ISO-8859-1',
                            skiprows = 3,
                            skipfooter = 20,
                            thousands = '.',
                            decimal = ',',
                            engine = 'python').fillna(0).replace('-', 0)

In [14]:
# observar as 5 primeiras linhas
cv_reg_ano_raw.head()

,Imuno,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,072 BCG,88.29,103.62,104.19,117.12,111.61,117.28,111.74,112.60,110.28,...,107.94,105.69,107.42,107.28,105.08,95.55,97.12,97.72,52.95,105.82
1,099 Hepatite B em crianças até 30 dias,0.00,0.00,0.00,0.00,0.00,0,0,0,0,...,0.00,0.00,0,88.54,90.93,81.75,85.20,86.73,48.33,68.79
2,061 Rotavírus Humano,0.00,0.00,0.00,0.00,0.00,0,0,0,0,...,87.06,86.37,93.52,93.44,95.35,88.98,84.65,89.76,52.47,58.57
3,053 Meningococo C,0.00,0.00,0.00,0.00,0.00,0,0,0,0,...,105.66,96.18,99.70,96.36,98.19,91.68,87.04,87.50,53.66,61.23
4,073 Hepatite B,8.85,10.50,16.50,5.79,12.63,83.50,91.08,91.88,91.47,...,97.71,96.67,100.56,96.42,97.74,105.19,86.29,92.91,55.93,78.46

In [15]:
# cópia do dataframe original
cv_reg_ano = cv_reg_ano_raw.copy()

In [16]:
# remove os 3 primeiros número do nome do imunizantes
cv_reg_ano['Imuno'] = cv_reg_ano['Imuno'].str[4:]

In [17]:
cv_reg_ano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Imuno   26 non-null     object
 1   1994    26 non-null     float64
 2   1995    26 non-null     float64
 3   1996    26 non-null     float64
 4   1997    26 non-null     float64
 5   1998    26 non-null     float64
 6   1999    26 non-null     object
 7   2000    26 non-null     object
 8   2001    26 non-null     object
 9   2002    26 non-null     object
 10  2003    26 non-null     object
 11  2004    26 non-null     object
 12  2005    26 non-null     object
 13  2006    26 non-null     object
 14  2007    26 non-null     object
 15  2008    26 non-null     object
 16  2009    26 non-null     object
 17  2010    26 non-null     float64
 18  2011    26 non-null     float64
 19  2012    26 non-null     float64
 20  2013    26 non-null     object
 21  2014    26 non-null     float64
 22  2015    26 non-null     float64
 23  2016    26 non-null     float64
 24  2017    26 non-null     float64
 25  2018    26 non-null     float64
 26  2019    26 non-null     float64
 27  Total   26 non-null     float64
dtypes: float64(15), object(13)
memory usage: 5.8+ KB

In [18]:
# transforma as colunas em colunas númericas
cv_reg_ano[cv_reg_ano.columns] = cv_reg_ano[cv_reg_ano.columns].apply(pd.to_numeric, errors = 'ignore')

In [19]:
cv_reg_ano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Imuno   26 non-null     object
 1   1994    26 non-null     float64
 2   1995    26 non-null     float64
 3   1996    26 non-null     float64
 4   1997    26 non-null     float64
 5   1998    26 non-null     float64
 6   1999    26 non-null     float64
 7   2000    26 non-null     float64
 8   2001    26 non-null     float64
 9   2002    26 non-null     float64
 10  2003    26 non-null     float64
 11  2004    26 non-null     float64
 12  2005    26 non-null     float64
 13  2006    26 non-null     float64
 14  2007    26 non-null     float64
 15  2008    26 non-null     float64
 16  2009    26 non-null     float64
 17  2010    26 non-null     float64
 18  2011    26 non-null     float64
 19  2012    26 non-null     float64
 20  2013    26 non-null     float64
 21  2014    26 non-null     float64
 22  2015    26 non-null     float64
 23  2016    26 non-null     float64
 24  2017    26 non-null     float64
 25  2018    26 non-null     float64
 26  2019    26 non-null     float64
 27  Total   26 non-null     float64
dtypes: float64(27), object(1)
memory usage: 5.8+ KB

In [20]:
# observar o dataframe
cv_reg_ano

,Imuno,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,BCG,88.29,103.62,104.19,117.12,111.61,117.28,111.74,112.60,110.28,...,107.94,105.69,107.42,107.28,105.08,95.55,97.12,97.72,52.95,105.82
1,Hepatite B em crianças até 30 dias,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,88.54,90.93,81.75,85.20,86.73,48.33,68.79
2,Rotavírus Humano,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,87.06,86.37,93.52,93.44,95.35,88.98,84.65,89.76,52.47,58.57
3,Meningococo C,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,105.66,96.18,99.70,96.36,98.19,91.68,87.04,87.50,53.66,61.23
4,Hepatite B,8.85,10.50,16.50,5.79,12.63,83.50,91.08,91.88,91.47,...,97.71,96.67,100.56,96.42,97.74,105.19,86.29,92.91,55.93,78.46
5,Penta,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,24.89,95.89,94.85,96.30,89.27,83.78,87.10,49.73,77.80
6,Pneumocócica,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,81.65,88.39,93.57,93.45,94.23,95.00,91.56,93.43,54.43,81.04
7,Poliomielite,58.23,77.82,80.85,89.27,95.30,99.08,101.44,102.83,100.01,...,101.33,96.55,100.71,96.76,98.29,84.43,84.27,88.17,51.54,94.18
8,Poliomielite 4 anos,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.62,0.47,0.19,0.43
9,Febre Amarela,5.27,4.81,5.65,7.84,18.49,29.06,37.14,40.24,38.70,...,48.95,49.31,51.50,46.86,46.31,44.59,46.46,58.40,39.91,37.72
10,Hepatite A,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,60.13,97.07,71.58,83.05,82.16,52.09,63.73
11,Pneumocócica(1º ref),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,93.11,87.95,88.35,84.10,79.66,80.02,50.50,80.51
12,Meningococo C (1º ref),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,92.35,88.55,87.85,93.86,82.13,79.72,55.16,82.82
13,Poliomielite(1º ref),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,92.92,86.31,84.52,74.36,78.06,71.90,45.89,76.27
14,Tríplice Viral D1,0.00,0.00,0.00,0.00,0.00,6692.10,77.50,88.43,96.92,...,102.39,99.50,107.46,112.80,96.07,95.41,90.85,91.89,57.19,102.30
15,Tríplice Viral D2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,68.87,92.88,79.94,76.71,76.45,76.49,48.37,74.23
16,Tetra Viral(SRC+VZ),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,34.19,90.19,77.37,79.04,36.86,32.46,22.46,53.27
17,DTP,64.75,80.53,78.24,78.50,92.97,94.46,94.71,97.45,44.69,...,99.61,93.81,97.85,95.48,96.90,89.53,84.02,87.31,49.86,85.86
18,DTP REF (4 e 6 anos),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,2.41,0.00,2.73,2.81,1.93,1.00,3.31
19,Dupla Adulto (dt),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,Tríplice Bacteriana(DTP)(1º ref),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,90.96,86.36,85.78,64.28,74.29,67.49,38.70,72.52
21,Sarampo,71.35,86.85,80.39,108.61,95.26,99.31,105.35,103.85,96.02,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,85.97
22,Haemophilus influenzae b,0.00,0.00,0.01,0.03,0.84,5.09,87.85,93.10,38.98,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,26.00
23,Dupla adulto e tríplice acelular gestante,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,50.73,43.50,45.57,31.53,34.56,47.02,30.73,40.48
24,dTpa gestante,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,2.80,9.34,44.97,33.81,42.36,63.06,41.97,33.97
25,Influenza Campanha,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

Aqui observamos que temos alguns valores acima de 100. Como esses dados representam uma porcentagem, não faz muito sentido termos esses valores. Por escolha própria, irei substituir os valores acima de 100 para o valor de 100%.

In [21]:
# troca os valores acima de 100 por 100
cv_reg_ano[cv_reg_ano.drop('Imuno', axis = 1).columns] = cv_reg_ano[cv_reg_ano.drop('Imuno', axis = 1).columns].apply(lambda x: [y if y <= 100 else 100 for y in x])

In [22]:
cv_reg_ano.head()

,Imuno,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total
0,BCG,88.29,100.0,100.0,100.00,100.00,100.0,100.00,100.00,100.00,...,100.00,100.00,100.00,100.00,100.00,95.55,97.12,97.72,52.95,100.00
1,Hepatite B em crianças até 30 dias,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.00,88.54,90.93,81.75,85.20,86.73,48.33,68.79
2,Rotavírus Humano,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,...,87.06,86.37,93.52,93.44,95.35,88.98,84.65,89.76,52.47,58.57
3,Meningococo C,0.00,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,...,100.00,96.18,99.70,96.36,98.19,91.68,87.04,87.50,53.66,61.23
4,Hepatite B,8.85,10.5,16.5,5.79,12.63,83.5,91.08,91.88,91.47,...,97.71,96.67,100.00,96.42,97.74,100.00,86.29,92.91,55.93,78.46

In [23]:
# salvar em um novo csv
cv_reg_ano.to_csv('../dados/clean/cv_reg_ano.csv', index = False, encoding = 'ISO-8859-1')

# Dataset 4: Casos de Sarampo, em Pernambuco e no Ceará, de 1990 a 2019

Dataset com as informações sobre os casos de sarampo em Pernambuco e no Ceará, de 1990 a 2019.

In [24]:
# importar o dataset
casos_sarampo = pd.read_csv('../dados/raw/casos_sarampo_pe_ce_1990_2019.csv', 
                            skiprows = 1,
                            skipfooter = 7,
                            thousands = '.',
                            decimal = ',',
                            engine = 'python')

In [25]:
# observar o dataframe
casos_sarampo

,Ano,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Pernambuco,194,290,165,15,13,10,23,335,345,...,1,0,1,200,24,0,0,0,4,268
1,Ceará,2771,4704,393,134,87,37,125,864,29,...,0,0,0,1,695,32,0,0,0,15

In [26]:
# renomear a primeira colunas
casos_sarampo = casos_sarampo.rename(columns = {'Ano': 'Estado'})

In [27]:
# informações do dataframe
casos_sarampo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Estado  2 non-null      object
 1   1990    2 non-null      int64
 2   1991    2 non-null      int64
 3   1992    2 non-null      int64
 4   1993    2 non-null      int64
 5   1994    2 non-null      int64
 6   1995    2 non-null      int64
 7   1996    2 non-null      int64
 8   1997    2 non-null      int64
 9   1998    2 non-null      int64
 10  1999    2 non-null      int64
 11  2000    2 non-null      int64
 12  2001    2 non-null      int64
 13  2002    2 non-null      int64
 14  2003    2 non-null      int64
 15  2004    2 non-null      int64
 16  2005    2 non-null      int64
 17  2006    2 non-null      int64
 18  2007    2 non-null      int64
 19  2008    2 non-null      int64
 20  2009    2 non-null      int64
 21  2010    2 non-null      int64
 22  2011    2 non-null      int64
 23  2012    2 non-null      int64
 24  2013    2 non-null      int64
 25  2014    2 non-null      int64
 26  2015    2 non-null      int64
 27  2016    2 non-null      int64
 28  2017    2 non-null      int64
 29  2018    2 non-null      int64
 30  2019    2 non-null      int64
dtypes: int64(30), object(1)
memory usage: 624.0+ bytes

Como esse dataset foi criado por mim buscando os dados a cada ano, ele já está relativamente limpo.

Dados foram buscados e inspirados no dataset formado pelo Gabriel Dal Ben e colocado [aqui](https://github.com/GabrielDalBen/Onde_esta_o_ze_gotinha_BootCamp_M2/blob/main/dados_brutos/Casos_sarampo2.csv). Foi muito útil, obrigada!

In [28]:
# salvando o dataset já tratado
casos_sarampo.to_csv('../dados/clean/casos_sarampo.csv', index = False)

# Dataset 5: Coberturas Vacinais do Sarampo em PE e CE, de 1994 a 2019

Dataset com informações sobre a cobertura vacinal dos imunizantes contra o sarampo, nos estados de Pernambuco e Ceará, de 1994 a 2019

In [29]:
# importar o dataset
cob_vac_raw = pd.read_csv('../dados/raw/coberturas_vacinais_pe_ce_1994_2019.csv',
                          sep = ';',
                          skiprows = 5,
                          skipfooter = 20,
                          thousands = '.',
                          decimal = ',',
                          engine = 'python')

In [30]:
cob_vac_raw.head()

    Ano      CE      PE   Total
0  1994  103.72   73.31   87.84
1  1995  107.40  104.74  106.04
2  1996   98.43   87.24   92.71
3  1997  131.76  122.51  127.31
4  1998   90.77  113.48  101.66

In [31]:
cob_vac = cob_vac_raw.copy()

In [32]:
cob_vac.columns = ['Ano', 'Ceará', 'Pernambuco', 'Total']

Novamente observamos que existem valores maiores do que 100. Mas isso representa uma porcentagem, então optei por substituí-los por 100%.

In [33]:
cob_vac[cob_vac.drop('Ano', axis = 1).columns] = cob_vac[cob_vac.drop('Ano', axis = 1).columns].apply(lambda x: [y if y <= 100 else 100 for y in x])

In [34]:
cob_vac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ano         26 non-null     int64
 1   Ceará       26 non-null     float64
 2   Pernambuco  26 non-null     float64
 3   Total       26 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 960.0 bytes

In [35]:
cob_vac.to_csv('../dados/clean/cob_vac.csv', index = False)

# Dataset 6: Quantidade de Vacinas Aplicadas Contra o Sarampo em PE e CE, de 1994 a 2019

Valor absoluto da quantidade de doses aplicadas de vacinas contra o sarampo nos estados analisados, de 1994 a 2019.

In [36]:
quant_vac_raw = pd.read_csv('../dados/raw/doses_pe_ce_1990_2019.csv',
                              sep = ';',
                              skiprows = 5,
                              skipfooter = 20,
                              thousands = '.',
                              decimal = ',',
                              engine = 'python')

In [37]:
quant_vac_raw

     Ano      CE      PE   Total
0   1994  186758  144396  331154
1   1995  174274  177743  352017
2   1996  162252  150430  312682
3   1997  216058  186133  402191
4   1998  150826  173678  324504
5   1999  356607  180974  537581
6   2000  333244  235653  568897
7   2001  346907  287908  634815
8   2002  329552  306336  635888
9   2003  193829  194778  388607
10  2004  155034  170055  325089
11  2005  154706  165682  320388
12  2006  142175  160814  302989
13  2007  144386  162203  306589
14  2008  137930  153462  291392
15  2009  138839  157727  296566
16  2010  136520  148602  285122
17  2011  145731  161186  306917
18  2012  128247  148315  276562
19  2013  272076  306841  578917
20  2014  503619  413394  917013
21  2015  373832  383233  757065
22  2016  385141  360057  745198
23  2017  288215  291385  579600
24  2018  262540  241553  504093
25  2019  165900  159032  324932

In [38]:
quant_vac = quant_vac_raw.copy()
quant_vac.columns = ['Ano', 'Ceará', 'Pernambuco', 'Total']

In [39]:
quant_vac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ano         26 non-null     int64
 1   Ceará       26 non-null     int64
 2   Pernambuco  26 non-null     int64
 3   Total       26 non-null     int64
dtypes: int64(4)
memory usage: 960.0 bytes

In [40]:
quant_vac.to_csv('../dados/clean/quant_vac.csv', index = False)

<div class="alert alert-success">
    <strong><a href="https://github.com/diascarolina/vacinacao-geral-no-brasil/blob/main/notebooks/vacinacao_geral_no_brasil.ipynb">Parte 1: Vacinação Geral no Brasil</a></strong>
</div>

<div class="alert alert-success">
    <strong><a href='https://github.com/diascarolina/vacinacao-geral-no-brasil/blob/main/notebooks/sarampo.ipynb'>Parte 2: Surto de Sarampo no Brasil em 2014</a></strong>
</div>